<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">About Us</h2>
        <div class="well text-center">
            <p>Welcome to Dev Match! We are the community of developers, entrepreneurs and investors who are interested in metting one another and sharing ideas.</p>
        </div>
    </div>
</div>